	#canvas {cursor: crosshair;}

#div_Contenedor{
	display:block;
	background-color:#000;
}	
.btn_Guardar {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn_Guardar:hover {
	background-color:#5cbf2a;
}
.btn_Guardar:active {
	position:relative;
	top:1px;
}

.btn_Recargar {
	background-color:#c5c744;
	border-radius:28px;
	border:1px solid #a9ab18;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #666427;
	margin-top:20px;
}
.btn_Recargar:hover {
	background-color:#767726;
}
.btn_Recargar:active {
	position:relative;
	top:1px;
}

.btn_Nuevo {
	background-color:#446cc7;
	border-radius:28px;
	border:1px solid #1838ab;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #273266;
	margin-top:20px;
}
.btn_Nuevo:hover {
	background-color:#263477;
}
.btn_Nuevo:active {
	position:relative;
	top:1px;
}

#txt_nombre {
	font-size: 22px;
}

#cbo_pais {
	margin-top: 10px;	
	font-size: 22px;
}